@media (max-width: 575.98px) {
    header.desktop, .ustone-search{
        display: none;
    }
    header .header-ui{
        padding: 15px 15px;
    }
    header .ustone-logotype{
        width: 25%;
    }
    header .ustone-compare{
        width: 75%;
    }
    header .ustone-logotype a svg{
        height: 40px;
    }
    header .ustone-compare .adress{
        margin-left: 10px;
        font-size: 13px;
    }
    header .ustone-compare button.btn-compare{
        font-size: 13px;
    }
    header .main-menu{
        height: 52px;
        line-height: 52px;
    }
    header .main-menu nav ul li{
        width: 50%;
    }
    header .main-menu nav ul li a{
        width: 52px;
        line-height: 52px;
        width: 100%;
    }
    header .main-menu button.menu-item.menu-dropdown{
        height: 52px;
        width: 100%;
    }
    header .main-menu nav ul li:nth-child(2),
    header .main-menu nav ul li:nth-child(3){
        display: none;
    }
    header .main-menu nav ul li:nth-last-child(-n+2){
        width: 150px;
    }
    header .menu-dropdown-items{
        top: 58px;
        left: 5px;
        width: 98%;
    }
    header .menu-dropdown-items.aggressive div{
        width: 100%;
    }
    section.season-commodity .commodity-wrap .commodity-group{
        margin-bottom: 5px;
    }
    section.season-commodity .commodity-wrap .layout-compare{
        bottom: 0;
        height: 27px;
        right: 5px;
    }
    section.season-commodity .commodity-wrap .layout-compare button.btn-compare{
        height: 27px;
    }
    section.season-commodity .commodity-wrap .commodity-link a{
        margin-right: 45px;
    }
    section.season-commodity .commodity-wrap .commodity-value{
        margin: 0;
    }
    section.season-commodity .commodity-wrap .commodity-value .value{
        font-size: 18px;
        margin-right: 0;
    }
    section.season-commodity .commodity-wrap .commodity-name{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 85px;
        font-size: 14px;
    }
    section.season-commodity h3{
        margin-top: 85px;
        font-size: 20px;
        text-align: left;
        font-weight: 600;
    }
    
   header.mobile .columns{
      position: relative;
      z-index: 1001;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background: #000;
      height: 52px;
      padding: 0 15px;
   }
   header.mobile .columns:nth-child(2){
      background: #141414;
   }
   header.mobile div{
      display: flex;
      align-items: center;
      width: 50%;
   }
   header.mobile div:nth-child(2){
      justify-content: flex-end;
   }
   header.mobile .columns a.unst-logotype-m{
      width: 60px;
      height: 28px;
      display: block;
   }
   header.mobile .columns a.phone-m{
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      text-decoration: none;
   }
   header.mobile .columns a.phone-m:before{
      content: '';
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url(../image/phone.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center, 50%, 50%;
      transform: rotate(12deg);
      margin-right: 10px;
   }
   header.mobile .columns a.whatsapp{
      height: 32px;
      line-height: 32px;
      text-align: center;
      margin-left: 0;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 500;
      color: #57c7ff;
      text-decoration: none;
   }
   header.mobile button{
      position: relative;
      display: inline-block;
      width: 50px;
      height: 30px;
      padding: 0;
      background: none;
      border: 0;
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      outline: none;    
   }
   header.mobile button span.icon-navapp-mobile{
      display: block;
      height: 2px;
      width: 34px;
      background-color: #fff;    
   }
   header.mobile button span.icon-navapp-mobile::before{
      position: absolute;
      top: 6px;
      content: '';
      display: block;
      height: 2px;
      width: 34px;
      background-color: #fff;
   }
   header.mobile button span.icon-navapp-mobile::after{
      position: absolute;
      bottom: 6px;
      content: '';
      display: block;
      height: 2px;
      width: 34px;
      background-color: #fff;    
   }
   header.mobile .navigation-items{
      position: absolute;
      top: -550px;
      left: 15px;
      background-color: #000000;
      width: 92%;
   }
   .navigation-items.active-menu{
      top: 100px !important;
      z-index: 1000;
      transition: 0.4s;
   }
   .navigation-items ul li{
      height: 58px;
      line-height: 58px;
      display: block;
      padding-left: 20px;
      font-size: 15px;
      color: #fff;
      border-bottom: 1px solid #1c1c1c;
   }
   .navigation-items ul li a{
      display: block;
      font-size: 15px;
      color: #fff;
      text-decoration: none;
   }
   section.season-commodity,
   section.layout-commodity{
      margin-top: 20px;
   }
   ol.breadcrumb{
      flex-wrap: wrap;
      justify-content: center;
   }
   section.promo .responsive .slide-layout{
      min-height: 250px;
   }
   section.main-groups{
      margin-top: 50px;
   }
   section.layout-commodity h1,
   section.season-commodity .bread-crumbs h1,
   section.main-groups h2{
      font-size: 20px;
      text-align: center;
      margin-top: 5px;
   }
   section.main-groups .grid-group{
      grid-template-columns: 1fr;
      gap: 0;
   }
   section.main-groups .grid-group .group{
      height: 135px;
      padding: 20px;
      margin-bottom: 15px;
   }
   section.main-groups .grid-group .group.a,
   section.main-groups .grid-group .group.b,
   section.main-groups .grid-group .group.c,
   section.main-groups .grid-group .group.d,
   section.main-groups .grid-group .group.e,
   section.main-groups .grid-group .group.f,
   section.main-groups .grid-group .group.j,
   section.main-groups .grid-group .group.g,
   section.main-groups .grid-group .group.h{
      background-image: none;
   }
   section.season-commodity .grid-season{
      grid-template-columns: 1fr 1fr;
      gap: 15px;
   }
   section.season-commodity .commodity-wrap{
      padding: 0;
   }

   section.season-commodity .commodity-wrap .commodity-image{
      padding: 10px;
      height: 170px;
   }
   section.layout-commodity .grid-gallery .item-gallery:nth-child(1), section.layout-commodity .grid-gallery .item-gallery:nth-child(2), section.layout-commodity .grid-gallery .item-gallery:nth-child(3), section.layout-commodity .grid-gallery .item-gallery:nth-child(4){
      border: 0;
   }
   section.layout-commodity .grid-gallery .box-img{
      height: 190px;
   }
   section.season-commodity .commodity-wrap .commodity-group{
      margin-top: 15px;
   }
   section.season-commodity .commodity-wrap .commodity-group .group-status{
      border: 0;
      height: inherit;
      line-height: 12px;
      font-size: 12px;
      margin-left: 0;
   }
   section.season-commodity .commodity-wrap .commodity-group .group-name{
      height: inherit;
      line-height: 16px;
      margin-right: 0;
      color: #9d9d9d;
      font-size: 12px;
      background: #fff;
   }

   .container-large{
      padding: 0 15px;
   }
   section.layout-commodity .grid-gallery{
      grid-template-columns: 1fr 1fr;
      margin-bottom: 50px;
   }
   section.layout-commodity .grid-gallery,
   section.layout-commodity .grid-gallery .item-gallery,
   section.layout-commodity .grid-gallery .item-gallery:nth-child(4n+4),
   section.layout-commodity .grid-gallery .item-gallery:last-child{
      border: 0;
   }
   section.layout-commodity .grid-gallery .item-gallery{
      padding: 10px;
   }
   section.layout-commodity .grid-gallery .item-gallery .commodity-name{
      font-size: 15px;
      min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
	  padding: 0;
   }
   ol.breadcrumb li.breadcrumb-item{
      font-size: 11px;
      line-height: 20px;
      height: initial;
      margin: 0;
   }
   ol.breadcrumb li::after{
      width: 8px;
      margin: 0 5px 3px 5px;
   }
   section.layout-commodity .commodity-description .prc-row{
      text-align: center;
      width: 100%;
   }
   section.layout-commodity .end-row,
   section.layout-commodity .button-submit-application{
      width: 100%;
   }
   section.main-groups .grid-group .group .group-heading{
      margin-bottom: 10px;
      font-size: 17px;
   }
   section.main-groups .grid-group .group .group-items{
      font-size: 13px;
      line-height: 20px;
   }
   section.season-commodity .commodity-wrap:hover{
      border: 0;
   }
   section.season-commodity .maker-buttons ul,
   section.layout-commodity .maker-buttons ul{
	  display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
   }
   section.season-commodity .maker-buttons ul li a,
   section.layout-commodity .maker-buttons ul li a{
      font-size: 12px;
      height: 36px;
      line-height: 36px;
   }
   main .wrap-contact .contact-line{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      height: auto;
      min-height: 70px;
      font-size: 16px;
      padding-top: 20px;
      padding-bottom: 20px;
   }
   footer{
      margin-top: 50px;
      padding-top: 0;
   }
   footer .grid-footer{
        grid-template-columns: 1fr;
   }
   footer ul{
    padding: 0;
   }
   footer .btns-service{
        flex-direction: column;
        align-items: flex-start;
   }
   footer .ya-rating{
        margin-bottom: 15px;
   }
   footer .btns-messenger{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
   }
   footer .btns-service a{
        width: 100%;
   }
   footer .btns-service a.whatsapp{
        border-radius: 0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
   }
   footer .btns-service a.telegram{
        border-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
   }
   footer .footer-contact{
      display: none;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
   }
   footer .footer-contact .contact-cell{
      border: 0;
      margin-bottom: 50px;
   }
   footer .footer-contact .contact-cell:nth-child(1),
   footer .footer-contact .contact-cell:nth-child(2),
   footer .footer-contact .contact-cell:nth-child(3){
      border-right: 0;
   }
   footer .copyright{
      margin-left: 0;
      margin-right: 0;
   }
   footer .copyright .footer-copyright{
      position: relative;
      min-height: 200px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
   }
   footer .copyright .footer-copyright .copyright-cell,
   footer .copyright .footer-copyright .copyright-cell:nth-child(3){
      text-align: left;
      font-size: 14px;
      line-height: 34px;
   }
   footer .copyright .footer-copyright .copyright-cell button.arrow-top{
      position: absolute;
      top: -30px;
      left: 50%;
      margin-left: -30px;
   }
}






@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){

}

@media (min-width: 1140px) and (max-width: 1365px){
   .container-large{
      max-width: 1240px;
   }
   section.promo .responsive .slide-layout{
      min-height: 270px;
   }
   section.main-groups{
      margin-top: 40px;
   }
   section.season-commodity .commodity-wrap .commodity-group .group-name{
      font-size: 12px;
      padding: 0 10px;
   }
   footer .copyright .footer-copyright{
      padding: 0 30px;
   }
}

@media (min-width: 1366px) and (max-width: 1440px) {
   .container-large{
      max-width: 1320px;
   }
   section.promo .responsive .slide-layout{
      min-height: 310px;
   }
   section.main-groups{
      margin-top: 40px;
   }
   footer .copyright .footer-copyright{
      padding: 0 30px;
   }
}

@media (min-width: 1441px) and (max-width: 1600px) {
   section.promo .responsive .slide-layout{
      min-height: 340px;
   }
   section.main-groups{
      margin-top: 80px;
   }
}

@media (min-width: 1601px) and (max-width: 1920px) {
   section.promo .responsive .slide-layout{
      min-height: 400px;
   }
}